body{
  padding: 2rem;
}

.sn-flex {
  display: flex;
}

.sn-justify-center {
  justify-content: center;
}

.sn-items-center {
  align-items: center;
}

.sn-gap-5 {
  gap: 5px;
}

.app-header{
  margin-bottom: 3rem;
}